body {
    font-family: 'Silkscreen', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; 
    color: #333;
}

.container {
    max-width: 800px; 
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 15px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.header {
    text-align: center;
    margin-bottom: 30px; 
}

.input, .output {
    margin-bottom: 30px; 
}

label {
    font-weight: bold;
}

textarea {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: none;
    border-radius: 6px; 
}

.buttons, .copy {
    text-align: center;
    margin-top: 20px; 
}

button {
    padding: 12px 25px; 
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px; 
}

button:hover {
    background-color: #0056b3;
}

.copy button {
    background-color: #28a745;
}

.copy button:hover {
    background-color: #218838; 
}

.footer {
    text-align: center;
    margin-top: 30px; 
    color: #777;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0; 
}
